In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import pyarrow.parquet as pq


df = pd.DataFrame()

for i in range(0, 2):
    file_path = f"*file_path*/train_data/train_data_{i}.pq"
    parquet_file = pq.ParquetFile(file_path)
    for j in range(parquet_file.num_row_groups):
        df_temp = parquet_file.read_row_group(j).to_pandas()
        df = df._append(df_temp, ignore_index=True)
df

,id,rn,pre_since_opened,pre_since_confirmed,pre_pterm,pre_fterm,pre_till_pclose,pre_till_fclose,pre_loans_credit_limit,pre_loans_next_pay_summ,...,enc_paym_21,enc_paym_22,enc_paym_23,enc_paym_24,enc_loans_account_holder_type,enc_loans_credit_status,enc_loans_credit_type,enc_loans_account_cur,pclose_flag,fclose_flag
0,0,1,18,9,2,3,16,10,11,3,...,3,3,3,4,1,3,4,1,0,0
1,0,2,18,9,14,14,12,12,0,3,...,0,0,0,4,1,3,4,1,0,0
2,0,3,18,9,4,8,1,11,11,0,...,0,0,0,4,1,2,3,1,1,1
3,0,4,4,1,9,12,16,7,12,2,...,3,3,3,4,1,3,1,1,0,0
4,0,5,5,12,15,2,11,12,10,2,...,3,3,3,4,1,3,4,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4082024,499999,8,6,11,14,7,12,11,15,2,...,0,0,3,4,1,3,2,1,0,0
4082025,499999,9,11,13,17,16,8,8,15,2,...,3,3,3,4,1,3,2,1,0,0
4082026,499999,10,1,2,11,8,8,11,11,2,...,3,3,3,4,1,2,3,1,0,1
4082027,499999,11,12,10,1,8,14,11,8,1,...,3,3,3,4,1,2,4,1,0,1
4082028,499999,12,12,2,6,8,0,11,2,5,...,3,3,3,4,1,2,0,1,0,1

In [9]:
target = pd.read_csv("C:/Users/Konstantin/Downloads/alfaTest/train_target.csv")

In [10]:
merged_data = pd.merge(df, target, on='id')
merged_data

,id,rn,pre_since_opened,pre_since_confirmed,pre_pterm,pre_fterm,pre_till_pclose,pre_till_fclose,pre_loans_credit_limit,pre_loans_next_pay_summ,...,enc_paym_22,enc_paym_23,enc_paym_24,enc_loans_account_holder_type,enc_loans_credit_status,enc_loans_credit_type,enc_loans_account_cur,pclose_flag,fclose_flag,flag
0,0,1,18,9,2,3,16,10,11,3,...,3,3,4,1,3,4,1,0,0,0
1,0,2,18,9,14,14,12,12,0,3,...,0,0,4,1,3,4,1,0,0,0
2,0,3,18,9,4,8,1,11,11,0,...,0,0,4,1,2,3,1,1,1,0
3,0,4,4,1,9,12,16,7,12,2,...,3,3,4,1,3,1,1,0,0,0
4,0,5,5,12,15,2,11,12,10,2,...,3,3,4,1,3,4,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4082024,499999,8,6,11,14,7,12,11,15,2,...,0,3,4,1,3,2,1,0,0,0
4082025,499999,9,11,13,17,16,8,8,15,2,...,3,3,4,1,3,2,1,0,0,0
4082026,499999,10,1,2,11,8,8,11,11,2,...,3,3,4,1,2,3,1,0,1,0
4082027,499999,11,12,10,1,8,14,11,8,1,...,3,3,4,1,2,4,1,0,1,0
4082028,499999,12,12,2,6,8,0,11,2,5,...,3,3,4,1,2,0,1,0,1,0

In [11]:
X = merged_data.drop(['flag'], axis=1)
y = merged_data['flag']

In [12]:
model = RandomForestClassifier()

In [13]:
model.fit(X, y)

RandomForestClassifier()

In [14]:
test1 = pd.read_csv("*file_path*")
test2 = pd.read_csv("*file_path*")

# Объединение данных по id
merged_data_test = pd.merge(test1, test2, how = 'outer')
merged_data_test

,id,rn,pre_since_opened,pre_since_confirmed,pre_pterm,pre_fterm,pre_till_pclose,pre_till_fclose,pre_loans_credit_limit,pre_loans_next_pay_summ,...,enc_paym_21,enc_paym_22,enc_paym_23,enc_paym_24,enc_loans_account_holder_type,enc_loans_credit_status,enc_loans_credit_type,enc_loans_account_cur,pclose_flag,fclose_flag
0,3000000,1,11,5,17,14,12,11,3,2,...,3,3,3,4,1,3,4,1,0,0
1,3000000,2,19,16,15,9,12,11,16,3,...,3,3,3,4,1,2,4,1,0,0
2,3000001,1,16,17,8,5,4,9,5,2,...,3,3,3,4,1,3,4,1,0,0
3,3000001,2,16,7,9,0,4,9,1,2,...,3,3,3,4,1,3,4,1,0,0
4,3000001,3,10,0,14,7,11,12,2,2,...,1,1,0,2,1,3,4,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4724596,3499999,5,11,13,2,0,1,6,7,2,...,3,3,3,4,1,3,5,1,0,0
4724597,3499999,6,2,2,1,8,8,11,8,2,...,3,3,3,4,1,2,5,1,0,1
4724598,3499999,7,9,0,9,12,1,11,6,2,...,3,3,3,4,1,3,4,1,0,0
4724599,3499999,8,19,0,17,8,14,11,9,3,...,3,3,3,4,1,2,4,1,0,1
4724600,3499999,9,19,16,7,6,1,11,13,1,...,3,3,3,4,1,2,4,1,0,0

In [15]:
predictions = model.predict_proba(merged_data_test)
predictions

array([[0.83, 0.17],
       [0.9 , 0.1 ],
       [0.89, 0.11],
       ...,
       [0.83, 0.17],
       [0.9 , 0.1 ],
       [0.83, 0.17]])

In [16]:
predictions_first = [p[1] for p in predictions]

In [17]:
merged_data_test['prediction'] = predictions_first
merged_data_test

,id,rn,pre_since_opened,pre_since_confirmed,pre_pterm,pre_fterm,pre_till_pclose,pre_till_fclose,pre_loans_credit_limit,pre_loans_next_pay_summ,...,enc_paym_22,enc_paym_23,enc_paym_24,enc_loans_account_holder_type,enc_loans_credit_status,enc_loans_credit_type,enc_loans_account_cur,pclose_flag,fclose_flag,prediction
0,3000000,1,11,5,17,14,12,11,3,2,...,3,3,4,1,3,4,1,0,0,0.17
1,3000000,2,19,16,15,9,12,11,16,3,...,3,3,4,1,2,4,1,0,0,0.10
2,3000001,1,16,17,8,5,4,9,5,2,...,3,3,4,1,3,4,1,0,0,0.11
3,3000001,2,16,7,9,0,4,9,1,2,...,3,3,4,1,3,4,1,0,0,0.11
4,3000001,3,10,0,14,7,11,12,2,2,...,1,0,2,1,3,4,1,0,0,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4724596,3499999,5,11,13,2,0,1,6,7,2,...,3,3,4,1,3,5,1,0,0,0.22
4724597,3499999,6,2,2,1,8,8,11,8,2,...,3,3,4,1,2,5,1,0,1,0.05
4724598,3499999,7,9,0,9,12,1,11,6,2,...,3,3,4,1,3,4,1,0,0,0.17
4724599,3499999,8,19,0,17,8,14,11,9,3,...,3,3,4,1,2,4,1,0,1,0.10
4724600,3499999,9,19,16,7,6,1,11,13,1,...,3,3,4,1,2,4,1,0,0,0.17

In [19]:
df_grouped = merged_data_test.groupby('id').agg({'prediction': 'mean'}).reset_index()

print(df_grouped)

             id  prediction
0       3000000    0.135000
1       3000001    0.131000
2       3000002    0.095000
3       3000003    0.091111
4       3000004    0.091905
...         ...         ...
499995  3499995    0.132000
499996  3499996    0.130000
499997  3499997    0.102222
499998  3499998    0.105000
499999  3499999    0.141111

[500000 rows x 2 columns]